import(stringr)
import(lattice)
import(colorRamps)
import(kwb.utils)
import(kwb.db)

export(checkOperatingSystem)
export(convBasic)
export(convertStringVectorToMatrix)
export(convertToWindowsPath)
export(convInitial)
export(convMatrixByRowToString)
export(convRecharge)
export(convSoils)
export(cutStringByPattern)
export(filterLines)
export(fortranFormat)
export(importMatrices)
export(importMatrix)
export(importRechargePeriods)
export(importSingleLineParas)
export(labeledList)
export(leafValues)
export(multipleLineValues)
export(nodePairs)
export(patternSelect)
export(prepareImport)
export(splitHeader)
export(vs2dh.Configure)
export(vs2dh.ConfigureBalance)
export(vs2dh.ConfigureBasic)
export(vs2dh.ConfigureBasicGrid)
export(vs2dh.ConfigureBasicOptions)
export(vs2dh.ConfigureBasicOutput)
export(vs2dh.ConfigureBasicOutputMain)
export(vs2dh.ConfigureBasicOutputTimes)
export(vs2dh.ConfigureBasicSolver)
export(vs2dh.ConfigureBasicTime)
export(vs2dh.ConfigureBasicUnits)
export(vs2dh.ConfigureBoundaryCondition)
export(vs2dh.ConfigureBoundaryFluxes)
export(vs2dh.ConfigureGenuchten)
export(vs2dh.ConfigureInitial)
export(vs2dh.ConfigureInitialFlow)
export(vs2dh.ConfigureInitialTemp)
export(vs2dh.ConfigureObsPoints)
export(vs2dh.ConfigureRechargePeriod)
export(vs2dh.ConfigureRechargePeriodOptions)
export(vs2dh.ConfigureRechargePeriods)
export(vs2dh.ConfigureRechargePeriodSolver)
export(vs2dh.ConfigureSeepage)
export(vs2dh.ConfigureSeepageFace)
export(vs2dh.ConfigureSoil)
export(vs2dh.ConfigureSoilGrid)
export(vs2dh.ConfigureSoils)
export(vs2dh.ConfigureTrans)
export(vs2dh.plotMassBalance)
export(vs2dh.plotMatrix)
export(vs2dh.plotObservationPoints)
export(vs2dh.plotVariables)
export(vs2dh.readBoundaryFluxes)
export(vs2dh.ReadConfig)
export(vs2dh.readObsPoints)
export(vs2dh.readVariables)
export(vs2dh.writeConfig)
export(vs2di.createFileDat)
export(vs2di.readBalance)
export(vs2di.readMain)
export(vs2di.run)
export(vs2di.runConfig)
